body {
    display: inline;
    position: relative;
    margin: 0px;
    padding: 0px;
    min-height: 100%;
}

p {
    font-family: 'Comic Sans MS';
    font-size: 32px;
    text-align: center;
}

h1 {
    font-family: 'Comic Sans MS';
    text-align: center;
}

/* Liste ingrédients pour certains plats */

#liste {
    margin: auto;
    display: flex;
    justify-content: center;
    font-family: 'Comic Sans MS';
    font-size: 20px;
    text-align: center;
}

header {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: greenyellow;
    border: 2px solid #000000;
    border-bottom: none;
}

nav {
    justify-content: space-between;
}

.logo {
    position: absolute;
    width: 80px;
    height: auto;
    left: 10px;
    top: 10px;
}

/* Liens des pages du nav */

#liens {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    font-family: 'Comic Sans MS';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    text-decoration-line: underline;
    margin-top: 20px;
}

/* Pour changer la couleur des liens en survolant avec la souris */

a:hover {
    color: #FF0000;
}
.accueil {
    align-content: center;
    color: #26A2E8;
}

.catégories {
    align-content: center;
    color: #26A2E8;
}

.plats {
    align-content: center;
    color: #26A2E8;
}

.contact {
    align-content: center;
    color: #26A2E8;
}

div#sous-top {
    width: 100%;
    height: 170px;
    border: 2px solid #000000;
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #search {
    position: absolute;
} */

/* Barre de recherche */

.search {
    width: 10cm;
    height: 35px;
    border: 2px solid #000000;
}

.boutton {
    width: 4cm;
    height: 30px;
}

/* Grille catégories de la page d'accueil */

#grille_catégories {
    margin: 25px auto auto auto;
    max-width: 60%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px;
    column-gap: 30%;
    row-gap: 5%;
    justify-content: center;
}

/* Grille catégories de la page catégories */

#grille_catégories_catégories {
    margin: 25px auto 100px auto;
    max-width: 60%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px;
    column-gap: 20%;
    row-gap: 5%;
    justify-content: center;
}

.cat_1 {
    width: 200px;
    height: 200px;
    border: 2px solid #000000;
}

.cat_2 {
    width: 200px;
    height: 200px;
    border: 2px solid #000000;
}

.cat_3 {
    width: 200px;
    height: 200px;
    border: 2px solid #000000;
}

.cat_4 {
    width: 200px;
    height: 200px;
    border: 2px solid #000000;
}

.cat_5 {
    width: 200px;
    height: 200px;
    border: 2px solid #000000;
}

.cat_6 {
    width: 200px;
    height: 200px;
    border: 2px solid #000000;
}

#grille_plats {
    margin: 25px auto auto auto;
    max-width: 60%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px;
    column-gap: 30%;
    row-gap: 5%;
    justify-content: center;
}

.plat_1 {
    width: 200px;
    height: 100px;
    border: 2px solid #000000;
}

.plat_2 {
    width: 200px;
    height: 100px;
    border: 2px solid #000000;
}

.plat_3 {
    width: 200px;
    height: 100px;
    border: 2px solid #000000;
    background-color: #FFFFFF;
}

footer {
    width:860px;
    height:58px;
    bottom: 0px;
    border: 2px solid #000000;
    display: flex;
    margin: 50px auto  auto auto;
    justify-content: space-evenly;
    align-items: center;
}

.lien_facebook {
    margin-right: 10%;
    position: absolute;
}

.lien_twitter {
    margin-left: 10%;
    position: absolute;
}

/* Pour aggrandir les images des catégories sur la page d'accueil quand on passe dessus avec la souris */

#cat_1:hover {
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
}

#cat_2:hover {
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
}

#cat_3:hover {
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
}

#cat_4:hover {
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
}

#cat_5:hover {
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
}

#cat_6:hover {
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
}

/* Pour les images des plats dans chaque catégories */

#grille_plats_cat {
    margin: 25px auto auto auto;
    max-width: 60%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto);
    column-gap: 20%;
    row-gap: 5%;
    justify-content: center;
}

.cat_1_cat_1 {
    width: 400px;
    height: 400px;
    border: 2px solid #000000;
    margin: auto;
    display: flex;
    justify-content: center;
}

.cat_1_plat_1 {
    width: 200px;
    height: 200px;
    border: 2px solid #000000;
}

.cat_1_plat_2 {
    width: 200px;
    height: 200px;
    border: 2px solid #000000;
}

.cat_2_cat_2 {
    width: 400px;
    height: 400px;
    border: 2px solid #000000;
    margin: auto;
    display: flex;
    justify-content: center;
}

.cat_2_plat_1 {
    width: 200px;
    height: 200px;
    border: 2px solid #000000;
}

.cat_2_plat_2 {
    width: 200px;
    height: 200px;
    border: 2px solid #000000;
}

.cat_2_plat_3 {
    width: 200px;
    height: 200px;
    border: 2px solid #000000;
    margin-bottom: 50px;
}

.cat_3_cat_3 {
    width: 400px;
    height: 400px;
    border: 2px solid #000000;
    margin: auto;
    display: flex;
    justify-content: center;
}

.cat_3_plat_1 {
    width: 200px;
    height: 200px;
    border: 2px solid #000000;
}

.cat_3_plat_2 {
    width: 200px;
    height: 200px;
    border: 2px solid #000000;
    background-color: #FFFFFF;
}

.cat_4_cat_4 {
    width: 400px;
    height: 400px;
    border: 2px solid #000000;
    margin: auto;
    display: flex;
    justify-content: center;
}

.cat_4_plat_1 {
    width: 200px;
    height: 200px;
    border: 2px solid #000000;
}

.cat_5_cat_5 {
    width: 400px;
    height: 400px;
    border: 2px solid #000000;
    margin: auto;
    display: flex;
    justify-content: center;
}

.cat_5_plat_1 {
    width: 200px;
    height: 200px;
    border: 2px solid #000000;
}

.cat_6_cat_6 {
    width: 400px;
    height: 400px;
    border: 2px solid #000000;
    margin: auto;
    display: flex;
    justify-content: center;
}

.cat_6_plat_1 {
    width: 200px;
    height: 200px;
    border: 2px solid #000000;
}

/* Pour tourner les pages des catégories */

#tourner {
    margin: 80px auto auto auto;
    display: flex;
    justify-content: space-evenly;
}

.boutontourner {
    font-size: 32px;
    border: 2px solid #000000;
    background-color: #eeff00;
    font-family: 'Comic Sans MS';
}

/* Grille des plats pour la page des plats */

#grille_all_plats {
    margin: 25px auto 200px auto;
    max-width: 60%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px;
    column-gap: 20%;
    row-gap: 5%;
    justify-content: center;
}

.all_plat {
    width: 200px;
    height: 200px;
    border: 2px solid #000000;
}

/* Image de fond de la page d'accueil */

.parallax {
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 center;
    background-repeat: no-repeat;
    height: 100vh;
    background-image: url(/ASSETS/images_the_district/vecteezy_nuts-fruits-and-vegetables-flat-lay_2037798.jpg);
}

.video {
    margin: auto;
    justify-content: flex-start;
    position: absolute;
}

div#sous-top_accueil {
    width: 100%;
    height: 360px;
    border: 2px solid #000000;
    border-top: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000000;
}

.image_plat {
    margin: auto;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    border: 2px solid #000000;
}

/* #formulaire {
    margin: auto;
    display: grid;
    gap: 10px;
    row-gap: 40px;
    column-gap: 20px;
    justify-content: center;
}

label {
    font-family: 'Comic Sans MS';
    font-size: 20px;
}

input {
    width: 10cm;
    height: 35px;
    border: 2px solid #000000;
}

textarea {
    width: 20cm;
    height: 70px;
    border: 2px solid #000000;
} */
